In [1]:
import pandas as pd

ages = pd.Series([18, 19, 20, 21])
print(ages)

ages_np = ages.to_numpy()
print(ages_np)

0    18
1    19
2    20
3    21
dtype: int64
[18 19 20 21]

In [2]:
data = {
    "Name": ["Menna", "Ahmed", "Omar", "Mona"],
    "Age": [20, 21, 19, 22],
    "Math_Score": [85, 67, 90, 73],
    "Gender": ["M", "F", "M", "F"]
}

df = pd.DataFrame(data)

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      int64
 2   Math_Score  4 non-null      int64
 3   Gender      4 non-null      object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None
             Age  Math_Score
count   4.000000     4.00000
mean   20.500000    78.75000
std     1.290994    10.59481
min    19.000000    67.00000
25%    19.750000    71.50000
50%    20.500000    79.00000
75%    21.250000    86.25000
max    22.000000    90.00000

In [5]:
print(df["Name"])
print(df.loc[0])
print(df.iloc[1])

filtered = df[df["Math_Score"] > 70]
print(filtered)

0    Menna
1    Ahmed
2     Omar
3     Mona
Name: Name, dtype: object
Name          Menna
Age              20
Math_Score       85
Gender            M
Name: 0, dtype: object
Name          Ahmed
Age              21
Math_Score       67
Gender            F
Name: 1, dtype: object
    Name  Age  Math_Score Gender
0  Menna   20          85      M
2   Omar   19          90      M
3   Mona   22          73      F

In [6]:
df.loc[2, "Math_Score"] = None

df = df.fillna(0)
df = df.drop_duplicates()
df = df.drop("Age", axis=1)

print(df)

    Name  Math_Score Gender
0  Menna        85.0      M
1  Ahmed        67.0      F
2   Omar         0.0      M
3   Mona        73.0      F

In [7]:
def result(score):
    return "Pass" if score >= 70 else "Fail"

df["Result"] = df["Math_Score"].apply(result)

dummies = pd.get_dummies(df["Gender"])
print(dummies)

       F      M
0  False   True
1   True  False
2  False   True
3   True  False

In [8]:
df2 = pd.DataFrame({
    "Name": ["Khaled", "Nour"],
    "Math_Score": [88, 92],
    "Gender": ["M", "F"],
    "Result": ["Pass", "Pass"]
})

combined = pd.concat([df, df2])
print(combined)

pivot = combined.pivot_table(values="Math_Score", index="Gender", aggfunc="mean")
print(pivot)

     Name  Math_Score Gender Result
0   Menna        85.0      M   Pass
1   Ahmed        67.0      F   Fail
2    Omar         0.0      M   Fail
3    Mona        73.0      F   Pass
0  Khaled        88.0      M   Pass
1    Nour        92.0      F   Pass
        Math_Score
Gender
F        77.333333
M        57.666667